# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
*.code-workspace

# Dependências e logs (caso sejam usadas ferramentas de build no futuro)
node_modules/
npm-debug.log*

# Arquivos temporários
*.tmp
*.bak
